<md-sidenav md-component-id="list_container" class="md-sidenav-right" md-disable-backdrop="">
    <md-button ng-click="toggleActive()" class="menu_item">x</md-button>
    <md-tabs>
        <md-tab label="Elements"></md-tab>
        <md-tab label="Annotations"></md-tab>
    </md-tabs>

    <md-radio-group>
        <md-radio-button value="Player">Player</md-radio-button>
        <md-radio-button value="NPC">NPC</md-radio-button>
        <md-radio-button value="Enemy">Enemy</md-radio-button>
        <md-radio-button value="Environment">Environment</md-radio-button>
    </md-radio-group>

    <md-list ng-model="elements">
        <md-list-item ng-repeat="element in elements" ng-click="clickListItem(element)" ng-mouseenter="highlightElement(element)" ng-mouseleave="unhighlightElement(element)">
            <h5>{{ element.name != "" ? element.name : "nothing" }}</h3>
            <md-icon class="md-secondary" ng-click="editListItem(element)" aria-label="Chat">edit</md-icon>
        </md-list-item>
    </md-list>
</md-sidenav>