<md-sidenav class="md-sidenav-right" md-component-id="grid_space_container" md-disable-backdrop="">
    <md-button ng-click="toggleActive('#grid_space_container')">x</md-button>

    <md-input-container>
        <label for="grid_size_vertical">Height Size</label>
        <input name="grid_size_vertical" type="number" ng-keypress="onChange($event)" ng-model="height">
    </md-input-container>

    <md-input-container>
        <label for="grid_size_horizontal">Width Size</label>
        <input name="grid_size_horizontal" type="number" ng-keypress="onChange($event)" ng-model="width">
    </md-input-container>

    <md-input-container>
        <label for="grid_name">Name</label>
        <input name="grid_name" type="text" ng-model="name" ng-keypress="onRename($event)">
    </md-input-container>

    <md-button id="randomize">Randomize</md-button>

    <md-button ng-click="createGridSpace()">New Space</md-button>

    <md-button id="reset_board_button" class="destructive" ng-click="resetGrid()">Reset Board</md-button>

    <md-button id="delete_board_button" class="destructive" ng-click="deleteGridSpace()">Delete Board</md-button>
</md-sidenav>