button {
  -webkit-appearance: none;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.destructive:enabled {
  background-color: #b30000;
  border: none;
  color: white;
}

.destructive:disabled {
  background-color: #cccccc;
  border: none;
  color: white;
}

#undo_button,
#redo_button {
  width: 4%;
  float: right;
  height: 100%;
  margin-top: -30px;
}

#reset_board_button {
  width: 100%;
}

#element_color {
  border: 2px solid black;
  width: 100%;
}

#move_to_x,
#move_to_y {
  width: 23%;
}

#underlay_canvas {
  z-index: -1;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  display: block;
}

#underlay_canvas[resize] {
  width: 100%;
  height: 100%;
}

.menu_controls_button {
  width: 100%;
  font-size: 16px;
  height: 50px;
  background: white;
  border: solid black 2px;
}

.element_list_row {
  border-bottom: solid black 1px;
  background: white;
  width: 100%;
  display: block;
  position: relative;
}

.incr_move_button {
  -webkit-user-select: none;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  touch-action: manipulation;
  background-color: #80bfff;
  outline: none;
}

.incr_move_button:active {
  background-color: yellow;
  outline: none;
}

#incremental_movement_control_container {
  width: 100%;
}

#header_row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 40px;
  background: #262626;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

#tab_row {
  width: 100%;
  height: 40px;
  max-height: 40px;
  overflow-x: scroll;
  background: #b7b7b7;
  display: block;
  white-space: nowrap;
  z-index: 2;
}

#grid_size_vertical,
#grid_size_horizontal {
  width: 100%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 50%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 50%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 50%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 50%;
}

.menu_item {
  width: 100%;
  height: 12.5%;
  display: inline-block;
  position: relative;
}

#movement_controls,
#start_new_line_button,
#settings_controls {
  display: none;
}

#movement_controls {
  max-width: 240px;
}

#lost_connection_div {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading_div {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lost_connection_text {
  color: white;
  z-index: 50;
}

#place_element_button {
  background-color: #80bfff;
  border: none;
  color: white;
  display: inline-block;
  outline: none;
}

#place_element_button:active {
  background-color: yellow;
  outline: none;
}

.dropbtn {
  background-color: #345eb2;
  color: white;
  padding: 8px;
  margin-right: -4px;
  font-size: 16px;
  border: none;
  height: 100%;
}

#editing_controls,#options_controls,#context_editing_controls,#context_annotation_controls {
  display:inline;
  position:absolute;
  z-index: 100;
  background: white;
  border: 1px solid #262626;
}

.popup_items {
  position: absolute;
  display: inline;
  background: white;
  border: 1px solid #262626;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.tab {
  background-color: #dddddd;
  border: none;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.tab > button {
  display: inline-block;
  height: 100%;
  background: none;
  border: none;
}

#addition_tab {
  background: white;
  border: none;
  min-width: 20px;
  max-width: 20%;
  margin-right: 40px;
  margin: 2px;
  display: inline;
}

#element_list {
  overflow-y: scroll;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#element_list_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}

#sidebar_container {
  display: inline-block;
}

#annotation_list_container {
	position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}

.grid_canvas_annotation {
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

#overlapping_container {
  display: none;
  z-index: 99;
  width: 200px;
}

#overlapping_side_container {
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 150;
  transition: 0.5s;
}

#options_container {
  width: 200px;
  height: 100%;
  position: relative;
  display: inline-block;
  overflow-y: scroll;
}

.list_header {
  position: relative;
  display: inline-block;
  width: 50%;
  border: none;
  margin-right: -4px;
}

#list_header_elements {
  background-color: #345eb2;
  color: white;
}

#list_header_annotations {
  background-color: #dddddd;
  color: black;
}

#side_container_swap {
  position: relative;
  display: block;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 36px;
}

#overlapping_container_tab {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 3;
  min-width: 50px;
  max-width: 50px;
  transition: all 0.3s;
}

#overlapping_container_tab.active {
  right: 50px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.toolbar_quick_access_button {
  color: white;
  background-color: #345eb2;
  border-bottom: #8c8c8c;
  border-left: none;
  border-right: none;
  height: 12.5%;
  width: 100%;
  font-size: 18px;
}

.back_button {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  font-size: 24px;
  border: none;
  color: white;
  background-color: #7599bd;
}

.transition_button {
  color: white;
  background-color: #8c8c8c;
}

#footer {
  display: block;
  background-color: #262626;
  width: 100%;
  height: 25px;
  bottom: 0px;
}

#version_number {
  color: #b7b7b7;
  margin-left: 8px;
  margin-top: 5px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
