html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

button {
  -webkit-appearance: none;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.destructive:enabled {
  background-color: #b30000;
  border: none;
  color: white;
}

.destructive:disabled {
  background-color: #cccccc;
  border: none;
  color: white;
}

#undo_button,
#redo_button {
  width: 4%;
  float: right;
  height: 100%;
  margin-top: -30px;
}

#reset_board_button {
  width: 100%;
}

#move_to_x,
#move_to_y {
  width: 23%;
}

canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  -webkit-user-select: none;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}

.menu_controls_button {
  width: 100%;
  font-size: 16px;
  height: 50px;
  background: white;
  border: solid black 2px;
}

.collapse {
  background: white;
}

.element_list_row {
  border-bottom: solid black 1px;
  background: white;
  width: 100%;
  display: block;
  position: relative;
}

.incr_move_button {
  -webkit-user-select: none;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  touch-action: manipulation;
  background-color: #80bfff;
  outline: none;
}

.incr_move_button:active {
  background-color: yellow;
  outline: none;
}

#incremental_movement_control_container {
  width: 100%;
}

#tab_row {
  position: relative;
  overflow-x: scroll;
  background: #b7b7b7;
  white-space: nowrap;
  z-index: 2;
  width: calc(100% - 200px);
  display: inline-block;
}

#grid_size_vertical,
#grid_size_horizontal {
  width: 100%;
}

.grid-space-delete {
  margin-left: 8px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 50%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 50%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 50%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 50%;
}

.menu_item {
  width: 100%;
  height: 12.5%;
  display: inline-block;
  position: relative;
}

#movement_controls,
#start_new_line_button,
#settings_controls {
  display: none;
}

#movement_controls {
  max-width: 240px;
}

#lost_connection_div {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading_div {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lost_connection_text {
  color: white;
  z-index: 50;
}

#place_element_button {
  background-color: #80bfff;
  border: none;
  color: white;
  display: inline-block;
  outline: none;
}

#place_element_button:active {
  background-color: yellow;
  outline: none;
}

.tab {
  background-color: #dddddd;
  border: none;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.tab > button {
  display: inline-block;
  height: 100%;
  background: none;
  border: none;
}

#content_row {
  position: absolute;
  z-index: 10;
  width: 100%;
}

#overlapping_container_open {
  width: 200px;
  height: auto;
  z-index: 4;
  background: #345eb2;
  position: absolute;
  right: 0;
  top: 0;
}

#overlapping_container_open > a {
  height: 100%;
  color: white;
}

#addition_tab {
  background: white;
  border: none;
  height: 100%;
  width: 20px;
  margin-right: 40px;
  margin: 2px;
  display: inline-block;
}

#element_list {
  overflow-y: scroll;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#element_list_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
}

#sidebar_container {
  display: inline-block;
}

.list_header {
  position: relative;
  display: inline-block;
  width: 50%;
  border: none;
  margin-right: -4px;
}

#list_header_elements {
  background-color: #345eb2;
  color: white;
}

#list_header_annotations {
  background-color: #dddddd;
  color: black;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
  text-align: center;
}

.tab.active {
  background: white;
}

#content {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

.back_button {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  font-size: 24px;
  border: none;
  color: white;
  background-color: #7599bd;
}

.transition_button {
  color: white;
  background-color: #8c8c8c;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
  width: 100%;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
  width: 100%;
}

a, a:hover, a:focus {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  min-width: 100%;
  text-align: center;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.collapse {
  height: auto;
  width: auto;
}

.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.in.width {
  width: auto;
}

.collapse.in.height {
  height: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
