body {
	width: 100%;
	height: 100%;
	user-select: none;
}

button {
	-webkit-appearance: none;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.destructive {
	background-color: #cc0000;
	border: none;
	color: white;
}

#reset_board_button {
	width: 100%;
}

#element_color {
	border:2px solid black;
	width: 100%;
}

#move_to_x,#move_to_y {
	width: 23%;
}

#grid_canvas {
	-webkit-user-select: none;
}

#ruler_left {
}

.menu_controls_button {
	width: 100%;
	font-size: 16px;
	height: 50px;
	background: white;
	border: solid black 2px;
}

#element_list {
	overflow-y: scroll;
	border: solid black 1px;
	width: 100%;
	height: 100%;
}

.element_list_row {
	border-bottom: solid black 1px;
	background: white;
}

.incr_move_button {
	width: 100%;
	height: 100%;
	touch-action: manipulation;
}

#incremental_movement_control_container {
	width: 100%;
}

#header_row {
	width: 100%;
	height: 30px;
	background: #003399;
}

#center_column {
	height: 100%;
	width: 50%;
	margin-left: 25%;
	position: fixed;
	vertical-align: middle;
}

#left_column {
	position: fixed;
	height: 100%;
	width: 25%;
	left: 0;
	background: #003399;
}

#left_column > div {
	background: white;
}

#right_column {
	position: fixed;
	height: 100%;
	width: 25%;
	margin-left: 75%;
	background: #003399;
}

#grid_size_vertical,#grid_size_horizontal {
	width: 23%;
}

#ruler_top {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu_item {
	width: 100%;
}