body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

button {
  -webkit-appearance: none;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.destructive:enabled {
  background-color: #b30000;
  border: none;
  color: white;
}

.destructive:disabled {
  background-color: #cccccc;
  border: none;
  color: white;
}

#undo_button,
#redo_button {
  width: 4%;
  float: right;
  height: 100%;
  margin-top: -30px;
}

#reset_board_button {
  width: 100%;
}

#element_color {
  border: 2px solid black;
  width: 100%;
}

#move_to_x,
#move_to_y {
  width: 23%;
}

.drawing_canvas {
  -webkit-user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 100px;
}

#grid_canvas {
  z-index: 2;
}

#underlay_canvas {
  z-index: 1;
}

#temporary_drawing_canvas {
  z-index: 3;
}

#overlay_canvas {
  z-index: 4;
}

.menu_controls_button {
  width: 100%;
  font-size: 16px;
  height: 50px;
  background: white;
  border: solid black 2px;
}

#element_list {
  overflow-y: auto;
  border: solid black 1px;
  position: relative;
  display: block;
  width: 100%;
  max-height: 100%;
}

.element_list_row {
  border-bottom: solid black 1px;
  background: white;
  width: 100%;
  display: block;
  position: relative;
}

.incr_move_button {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  touch-action: manipulation;
  background-color: #80bfff;
  outline: none;
}

.incr_move_button:active {
  background-color: yellow;
  outline: none;
}

#incremental_movement_control_container {
  width: 100%;
}

#header_row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #262626;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#tab_row {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 40px;
  max-height: 40px;
  background: #b7b7b7;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#center_column {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  overflow-y: scroll;
  display: none;
}

#ruler_left_scrolling_container {
  float: left;
  margin-top: 20px;
  overflow-y: scroll;
  overflow: hidden;
  height: 100%;
  display: none;
}

#ruler_top_scrolling_container {
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  overflow: hidden;
  display: none;
}

#grid_size_vertical,
#grid_size_horizontal {
  width: 100%;
}

#ruler_top {
  display: block;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: 50%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 50%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 50%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 50%;
}

.menu_item {
  width: 100%;
}

#movement_controls,
#start_new_line_button,
#settings_controls {
  display: none;
}

#movement_controls {
  max-width: 240px;
}

#grid_canvas_scrolling_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  z-index: -1;
}

#lost_connection_div {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lost_connection_text {
  color: white;
  z-index: 50;
}

#place_element_button {
  background-color: #80bfff;
  border: none;
  color: white;
  width: 50%;
  height: 40px;
  display: inline-block;
  outline: none;
}

#place_element_button:active {
  background-color: yellow;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown_content {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown_content button {
  width: 100%;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #345eb2;
  color: white;
  padding: 8px;
  margin-right: -4px;
  font-size: 16px;
  border: none;
  height: 100%;
}

#editing_controls,#options_controls,#context_editing_controls {
  width:160px;
  display:inline;
  position:absolute;
  z-index: 100;
  background: white;
  border: 1px solid #262626;
}

.popup_items {
  position: absolute;
  display: inline;
  background: white;
  border: 1px solid #262626;
}

.tab {
  background-color: #dddddd;
  border: none;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.tab > button {
  display: inline-block;
  height: 100%;
  background: none;
  border: none;
}

.active {
  background-color: white;
}

#addition_tab {
  background: white;
  height: 100%;
  border: none;
  min-width: 20px;
  max-width: 20%;
  margin: 2px;
  display: inline;
}

#element_list {
  max-height: 2%;
  display: inline-block;
  overflow: auto;
}

@media only screen and (max-width: 1200px) {
  .menu_item {
    height: 50px;
  }
}